

.product_form_card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.product_form_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.product_Form_card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

.table-image{
    width: 100px;
    height: 100px;
}